<div *ngIf="usuario && permissao">
  <h3>Usuário</h3>

  <div class="info-rectangle">
    <strong>Nome:</strong> {{ usuario.nome }}
  </div>
  <div class="info-rectangle">
    <strong>Email:</strong> {{ usuario.email }}
  </div>
  <div class="info-rectangle">
    <strong>Senha:</strong> {{ usuario.senha }}
  </div>

  <div class="info-rectangle">
    <strong>Disciplinas:</strong>
    <ul>
      <li *ngFor="let disciplina of usuario.disciplinas"[ngStyle]="{'color': disciplina.cor}">
        {{ disciplina.sigla }} - {{ disciplina.nomeCompleto }}
      </li>
    </ul>
  </div>

  <p>Você tem certeza que deseja deletar este usuário?
    <button (click)="usuarioDelete(usuario.id)">Sim, deletar</button>
    <button (click)="goBack()">Não, voltar</button>
  </p>

  <div *ngIf="errorMessage">
    <strong>Erro:</strong> {{ errorMessage }}
  </div>

</div>

<div *ngIf="!usuario">
  <p>Dados não encontrados</p>
</div>

<app-sem-acesso *ngIf="!permissao"></app-sem-acesso>
