<div *ngIf="usuarios && permissao">
  <h3>Usuários</h3>
  <button (click)="incluirUsuario()">Incluir Usuário</button>

  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Disciplinas</th>
        <th>Email</th>
        <th>Senha</th>
        <th>Perfil</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td>
          <input type="text" name="Nome" [(ngModel)]="usuario.nome" readonly />
        </td>
        <td>
          <div *ngFor="let disciplina of usuario.disciplinas">
            <input type="text" name="Disciplina" [value]="disciplina.nomeCompleto" readonly [ngStyle]="{'color': disciplina.cor}" />
          </div>
        </td>
        <td>
          <input type="text" name="Email" [(ngModel)]="usuario.email" readonly />
        </td>
        <td>
          <input type="text" [(ngModel)]="usuario.senha" name="senha" required readonly />
        </td>
        <td>
          <span *ngIf="usuario.isAdmin">Admin</span>
          <span *ngIf="usuario.isTeacher">Professor</span>
        </td>
        <td>
          <button (click)="alterarUsuario(usuario.id)">Alt</button>
          <button (click)="excluirUsuario(usuario.id)">Excl</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
