<div *ngIf="permissao">

  <h3 *ngIf="ProfsSelecionado === 'ensino'">Perguntas de Ensino</h3>
  <h3 *ngIf="ProfsSelecionado === 'exercicio'">Perguntas de Exercício</h3>

  <button (click)="incluirPergunta()">Incluir Pergunta</button>

  <ul>
    <ng-container *ngIf="ProfsSelecionado === 'ensino'">
      <li *ngFor="let pergunta of perguntasEnsino">
        <table>
          <tr>
            <td>
              <b>Disciplina:</b>
              <span [ngStyle]="{'color': pergunta.disciplina?.cor}">{{ pergunta.disciplina?.sigla }}</span>
            </td>
<td><b>Descrição:</b> {{ pergunta.descricao }}</td>
            <td><b>Tempo(segundos):</b> {{ pergunta.T === 0 ? 'Não' : (pergunta.T ? (+pergunta.T) / 60 : 0) }}</td>
            <td>
              <div *ngIf="obterBase64Imagem(pergunta.id)">
                <h4>Imagem:</h4>
                <img [src]="obterBase64Imagem(pergunta.id)" alt="Imagem" style="max-width: 200px; max-height: 200px;">
              </div>
              <div *ngIf="obterBase64Audio(pergunta.id)">
                <h4>Áudio:</h4>
                <audio controls>
                  <source [src]="obterBase64Audio(pergunta.id)" type="audio/ogg">
                  Seu navegador não suporta o elemento de áudio.
                </audio>
              </div>
            </td>
            <td><b>Alternativa correta:</b> {{ pergunta.C_A }}</td>
          </tr>
        </table>
        <button (click)="alterarPergunta(pergunta.id)">Alt</button>
        <button (click)="excluirPergunta(pergunta.id)">Excl</button>
        <br><br>
      </li>
    </ng-container>

    <ng-container *ngIf="ProfsSelecionado === 'exercicio'">
      <li *ngFor="let pergunta of perguntasExercicio">
        <table>
          <tr>
            <td>
              <b>Disciplina:</b>
              <span [ngStyle]="{'color': pergunta.disciplina?.cor}">{{ pergunta.disciplina?.sigla }}</span>
            </td>
            <td><b>Descrição:</b> {{ pergunta.descricao }}</td>
            <td><b>Tempo(segundos):</b> {{ pergunta.T === 0 ? 'Não' : (pergunta.T ? (+pergunta.T) / 60 : 0) }}</td>
            <td>
              <div *ngIf="obterBase64Imagem(pergunta.id)">
                <h4>Imagem:</h4>
                <img [src]="obterBase64Imagem(pergunta.id)" alt="Imagem" style="max-width: 200px; max-height: 200px;">
              </div>
              <div *ngIf="obterBase64Audio(pergunta.id)">
                <h4>Áudio:</h4>
                <audio controls>
                  <source [src]="obterBase64Audio(pergunta.id)" type="audio/ogg">
                  Seu navegador não suporta o elemento de áudio.
                </audio>
              </div>
            </td>
            <td><b>Alternativa correta:</b> {{ pergunta.C_A }}</td>
          </tr>
        </table>
        <button (click)="alterarPergunta(pergunta.id)">Alt</button>
        <button (click)="excluirPergunta(pergunta.id)">Excl</button>
        <br><br>
      </li>
    </ng-container>
  </ul>
</div>
<app-sem-acesso *ngIf="!permissao"></app-sem-acesso>
