.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
}

.container ul,
.container button {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

.container ul li,
.container button {
    margin-bottom: 10px;
}

.container ul li button,
.container button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #7EA1C4; /* Botões brancos */
    color: #000015; /* Texto roxo */
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease, color 0.3s ease; /* Adicionando transição para a cor do texto */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil nos botões */
    border: 2px solid #000015; /* Adicionando borda roxa */
}

.container ul li button:hover,
.container button:hover {
    background-color: #000015; /* Fundo roxo */
    color: #7EA1C4; /* Texto branco no hover */
}

.container div {
    margin-top: 16px;
}

/* Adicionando animação nos botões */
.container button {
    animation: pulse 1s infinite alternate;
}


