<div class="container">
  <div *ngIf="permissao">
    <!-- Exibir botão "Perfil de Administrador" se o usuário for um administrador -->
    <button *ngIf="isAdmin" (click)="selecionarPerfil('admin')">Perfil de Administrador</button>
    
    <!-- Exibir botão "Perfil de Professor" se o usuário for professor e tiver disciplinas -->
    <button *ngIf="isTeacher && checkHasOtherDisciplines()" (click)="selecionarPerfil('prof')">Perfil de Professor</button>
  </div>
</div>
<app-sem-acesso></app-sem-acesso>
