<div *ngIf="pergunta && permissao">
  <h2>Editar Pergunta</h2>

  <table>
<!-- Campo para selecionar a disciplina -->
<tr>
  <td><label for="disciplina">Disciplina:</label></td>
  <td>
    <select [(ngModel)]="selectedDisciplina" name="disciplina">
      <option *ngFor="let disciplina of disciplinas" 
              [value]="disciplina.sigla" 
              [ngStyle]="{'color': disciplina.cor}">
        {{ disciplina.nomeCompleto }}
      </option>
    </select>      
  </td>
</tr>




    <!-- Campo para a descrição -->
    <tr>
      <td><label for="descricao">Descrição:</label></td>
      <td>
        <input type="text" [(ngModel)]="pergunta.descricao" id="descricao" name="descricao">
      </td>
    </tr>

    <!-- Campo para o tempo -->
<tr>
  <td><label>Tempo (segundos):</label></td>
  <td>
    <input type="radio" [(ngModel)]="tempoRadio" (change)="onTempoChange()" name="tempoRadio" value="sim"> Sim
    <input type="radio" [(ngModel)]="tempoRadio" (change)="onTempoChange()" name="tempoRadio" value="nao"> Não
    <input *ngIf="tempoRadio === 'sim'" type="number" [(ngModel)]="pergunta.T" name="tempo" placeholder="Digite o tempo"/>
  </td>
</tr>



    <!-- Campos para selecionar a alternativa correta -->
    <tr>
      <td><label>Alternativa correta:</label></td>
      <td>
        <input type="radio" [(ngModel)]="pergunta.C_A" name="alternativaCorreta" [value]="'A'"> A<br>
        <input type="radio" [(ngModel)]="pergunta.C_A" name="alternativaCorreta" [value]="'B'"> B<br>
        <input type="radio" [(ngModel)]="pergunta.C_A" name="alternativaCorreta" [value]="'C'"> C<br>
        <input type="radio" [(ngModel)]="pergunta.C_A" name="alternativaCorreta" [value]="'D'"> D<br>
        <input type="radio" [(ngModel)]="pergunta.C_A" name="alternativaCorreta" [value]="'E'"> E<br>
      </td>
    </tr>
  </table>

  <!-- Campos para upload de imagem e áudio -->
  <div>
    <label for="imageUpload">Selecionar Imagem:</label>
    <input type="file" id="imageUpload" (change)="onImageSelected($event)" accept="image/*">
    <div *ngIf="previewImage">
      <h4>Pré-visualização da Imagem:</h4>
      <img [src]="previewImage" alt="Imagem" style="max-width: 200px;">
    </div>
  </div>


  <div>
    <label for="audioUpload">Selecionar Áudio:</label>
    <input type="file" id="audioUpload" (change)="onAudioSelected($event)" accept="audio/*">
    <div *ngIf="previewAudio">
      <h4>Pré-visualização do Áudio:</h4>
      <audio controls>
        <source [src]="previewAudio" type="audio/ogg">
        Seu navegador não suporta o elemento de áudio.
      </audio>
    </div>
  </div>
  

  <!-- Botão para gravar a pergunta e carregar arquivos -->
  <p>
    <button (click)="perguntaEdit()">Gravar</button>
  </p>
</div>

<!-- Exibição de mensagens -->
<div *ngIf="message">
  {{ message }}
</div>
