<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div>
    <form>
      <label for="email">E-mail:</label>
      <input type="email" id="email" [(ngModel)]="email" name="email" required>
      <button (click)="sendEmail()" type="submit">Recuperar Senha</button>
    </form>
    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  </div>
</body>
</html>

