<div *ngIf="permissao">
  <h2>Criar Pergunta</h2>

  <!-- Selecione a disciplina -->
  <label for="disciplina">Selecione a disciplina:</label>
  <select (change)="onDisciplinaChange($event)">
    <option *ngFor="let disciplina of disciplinasUsuario" [value]="disciplina.sigla" [style.color]="disciplina.cor">
      {{ disciplina.nomeCompleto }}
    </option>
  </select>
  

  <!-- Descrição -->
  <p>
    <label for="descricao">Descrição:</label>
    <input type="text" [(ngModel)]="newPergunta.descricao" name="descricao">
  </p>

  <!-- Tempo -->
  <p>
    <label for="tempo">Tempo(segundos):</label>
    <label><input type="radio" [(ngModel)]="tempoRadio" (change)="onTempoChange()" name="tempoRadio" value="sim"> Sim</label>
    <label><input type="radio" [(ngModel)]="tempoRadio" (change)="onTempoChange()" name="tempoRadio" value="nao"> Não</label>
    <input *ngIf="tempoRadio === 'sim'" type="number" [(ngModel)]="newPergunta.T" name="tempo"/>
  </p>

  <!-- Imagem -->
  <p>
    <label>Imagem:</label>
    <label><input type="radio" [(ngModel)]="newPergunta.I" name="I" value="1"> Sim</label>
    <label><input type="radio" [(ngModel)]="newPergunta.I" name="I" value="0"> Não</label>
    <input *ngIf="newPergunta.I === '1'" type="file" (change)="onFileSelected($event, 'image')" #imageInput accept=".png">
    <img *ngIf="selectedImage && newPergunta.I === '1'" [src]="previewImage" alt="Pré-visualização da imagem" style="max-width: 100px;">
  </p>

  <!-- Áudio -->
  <p>
    <label>Áudio:</label>
    <label><input type="radio" [(ngModel)]="newPergunta.A" name="A" value="1"> Sim</label>
    <label><input type="radio" [(ngModel)]="newPergunta.A" name="A" value="0"> Não</label>
    <input *ngIf="newPergunta.A === '1'" type="file" (change)="onFileSelected($event, 'audio')" #audioInput accept=".ogg">
    <audio controls *ngIf="selectedAudio && previewAudio">
      <source [src]="previewAudio" type="audio/ogg">
      Seu navegador não suporta o elemento de áudio.
    </audio>
  </p>

  <!-- Alternativa correta -->
  <p>
    <label for="alternativaCorreta">Alternativa correta:</label><br>
    <input type="radio" [(ngModel)]="newPergunta.C_A" name="alternativaCorreta" [value]="'A'"> A<br>
    <input type="radio" [(ngModel)]="newPergunta.C_A" name="alternativaCorreta" [value]="'B'"> B<br>
    <input type="radio" [(ngModel)]="newPergunta.C_A" name="alternativaCorreta" [value]="'C'"> C<br>
    <input type="radio" [(ngModel)]="newPergunta.C_A" name="alternativaCorreta" [value]="'D'"> D<br>
    <input type="radio" [(ngModel)]="newPergunta.C_A" name="alternativaCorreta" [value]="'E'"> E<br>
  </p>

  <!-- Botão de gravar -->
  <p>
    <button (click)="createPergunta()">Gravar</button>
  </p>
</div>

<div *ngIf="mensagem">
  {{mensagem}}
</div>

<app-sem-acesso></app-sem-acesso>
